@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Entity Framework Practice: Driver</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Driver</h2>
        <p>
            This is an application to practice using the Entity Framework. It uses the Contoso University tutorial from Microsoft as its base, the link will take you to that tutorial. 
        </p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Contoso University &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Github</h2>
        <p>A link to my personal Github repo</p>
        <p><a class="btn btn-default" href="https://github.com/tjddhd">Github &raquo;</a></p>
    </div>
</div>